# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# FastAPI / Python
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db